<div>
  <span matBadge="10" matBadgePosition="above after">Notifications</span>
</div>


<div>
  <span matBadge="10" matBadgePosition="above">Notifications</span>
</div>


<div>
  <span matBadge="10" matBadgePosition="below before">Notifications</span>
</div>


<div>
  <span matBadge="10" matBadgePosition="above after" matBadgeColor="accent">Notifications</span>
</div>

<div>
  <span matBadge="10" matBadgePosition="above after" matBadgeSize="small" matBadgeOverlap>Notifications</span>
</div>

<div>
  <span matBadge="{{badgeCount}}" matBadgePosition="above after" [matBadgeHidden]="badgeCount < 1">Notifications</span>
</div>
