<h1>Workplace Essential, Advanced and Enterprise Privacy Policy</h1>

<p>
  Workplace is an online platform created by Facebook that allows users to collaborate and share information at work.
  The Workplace platform includes the Workplace Essential, Advanced and Enterprise websites, apps and related online
  services, together the "Service".
</p>

<p>
  This Privacy Policy describes how your information is collected, used and shared when you use the Service.
</p>

<p>
  The Service is intended for use by organisations and in accordance with their instructions and is provided to you by
  your employer or other organisation that has authorised your access to, and use of, the Service (your “Organisation”).
</p>

<p>
  The Service is separate from other Facebook services that you may use. Those other Facebook services are provided to
  you by Facebook and are governed by their own terms. However, the Service is provided by your Organisation and is
  governed by this Privacy Policy and the Workplace Acceptable Use Policy.
</p>

<p>
  Your Organisation is responsible for and administers your Workplace account ("Your Account"). Your Organisation is
  also responsible for the collection and use of any data that you submit or provide through the Service and such use is
  governed by the terms your Organisation has in place with Facebook.
</p>

<p>
  In addition to this Privacy Policy, your Organisation may have additional policies or codes of conduct which will
  apply in relation to your use of the Service.
</p>

<p>
  If you have any questions about your use of the Service, please contact your Organisation.
</p>
