<div class="mat-display-4">This is a typography demo</div>
<div class="mat-display-3">This is a typography demo</div>
<div class="mat-display-2">This is a typography demo</div>
<div class="mat-display-1">This is a typography demo</div>

<div class="mat-headline">This is a headline</div>
<div class="mat-title">This is a title</div>
<div class="mat-subheading-2">This is a sub 2</div>
<div class="mat-subheading-1">This is a sub 1</div>

<div class="mat-body-1">This is a body 1</div>
<div class="mat-body-2">This is a body 2</div>
<div class="mat-caption-1">This is a caption</div>

